.search-block {
    margin: 2rem 0;
}

input,
span,
label {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
}

input:focus {
    outline: 0;
}

/* Question */

input.search {
    // font-size: 48px;
    font-size: 25px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */

input.search+label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid #564fd9;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.search:focus+label {
    width: 100%;
}

input.search:focus,
input.search:valid {
    // padding-top: 35px;
    padding-top: 10px;
    color: #8F8F8F;
}

input.search:focus+label>span,
input.search:valid+label>span {
    // top: -100px;
    top: -80px;
    font-size: 22px;
    color: #8F8F8F;
}

// input.search:valid+label {
//     border-color: green;
// }

input.search:invalid {
    box-shadow: none;
}

input.search+label>span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #CECEDC;
    // font-size: 48px;
    font-size: 25px;
    // top: -66px;
    top: -43px;
    left: 0px;
    z-index: 0;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #EEE;
}

input[type="submit"]:active {
    background: #999;
}

input.search:valid~input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.search:invalid~input[type="submit"] {
    display: none;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

.search-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0.5rem;

    @media only screen and (max-width: 500px) {
        width: 100%;
        min-width: 100%;
        margin-right: 0 !important;
    }

    &:hover &__art {
        transform: scale(1.05);
    }

    &__art {
        height: 80px;
        width: 80px;
        border-radius: 6px;
        background-size: cover;
        transition: transform 0.15s ease-in-out;
        cursor: pointer;
    }

    &__title {
        font-size: 15px;
        text-align: center;
        margin-left: 1rem;
    }
}